{% load static wagtailuserbar %}
{% load nhsukfrontend_tags %}
{% load nhsukfrontendsettings_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/testapp.css' %}">

        {# NHSUK CSS library #}
        <link rel="stylesheet" type="text/css" href="{% static 'wagtailnhsukfrontend/css/wagtail-nhsuk-frontend.min.css' %}">

        {# NHSUK JS library #}
        <script type="text/javascript" src="{% static 'wagtailnhsukfrontend/js/nhsuk-1.0.0.min.js' %}" defer></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% include "wagtailnhsukfrontend/favicons.html" %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% comment %}
          Normally, this emergency_alert would be included on _all_ pages, but it gets in the way when
          developing so we only allow it on the /emergency-alert/ page
        {% endcomment %}
        {% if page.url == "/emergency-alert/" %}
          {% emergency_alert %}
        {% endif %}

        {% include "wagtailnhsukfrontend/skip_link.html" %}

        {% header %}

        {% block breadcrumbs %}
          {% breadcrumbs %}
        {% endblock %}

        <div class="nhsuk-width-container">
          <main id="maincontent" class="nhsuk-main-wrapper">
          {% block main %}
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                {% block content %}{% endblock %}
              </div>
            </div>
           {% endblock %}
          </main>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/testapp.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% block feedback_banner%}{% endblock %}
    </body>
</html>
