{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-childpage{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>

  {% block before_main_content %}{% endblock %}

  {% block main_content %}
    <p>This is a child page</p>

    {% if page.get_children %}
      <h2>Child links</h2>
      <ul>
        {% for child in page.get_children.live %}
          <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% include "wagtailnhsukfrontend/back_link.html" with url="/" label="Go to homepage" %}
  {% endblock %}

  {% block after_main_content %}{% endblock %}
{% endblock %}
