{% load wagtailcore_tags %}
<div class="nhsuk-care-card nhsuk-care-card--{{ type }}">
  <div class="nhsuk-care-card__heading-container">
    <h{{ heading_level }} class="nhsuk-care-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">{{ accessible_title_prefix }} </span>{{ title }}
      </span>
    </h{{ heading_level }}>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">
    {% for block in body %}
      {% include_block block %}
    {% endfor %}
  </div>
</div>
