{% load wagtailcore_tags %}

<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
    {% for link in links %}
      {% if link.is_current %}
        <li class="nhsuk-contents-list__item" aria-current="page">
          <span class="nhsuk-contents-list__current">{{ link.label }}</span>
        </li>
      {% else %}
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="{{ link.href }}">{{ link.label }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
