{% load wagtailcore_tags %}

<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
    {% for link in links %}
      <li class="nhsuk-contents-list__item" {% if link.is_current %}aria-current="page"{% endif %}>
        <a class="nhsuk-contents-list{% if link.is_current %}__current{% else %}__link{% endif %}" href="{{ link.href }}">{{ link.label }}</a>
      </li>
    {% endfor %}
  </ol>
</nav>
