<div class="nhsuk-do-dont-list">
  <h{{ heading_level }} class="nhsuk-do-dont-list__label">
    {{ label|default:"Do" }}
  </h{{ heading_level }} >
  <ul class="nhsuk-list nhsuk-list--tick">
    {% for body in do %}
    <li>
      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
      </svg>
      {{ body }}
    </li>
    {% endfor %}
  </ul>
</div>
