{% load nhsukfrontend_extra_parameters_tags %}

<div class="nhsuk-do-dont-list">
  <h{{ heading_level }} class="nhsuk-do-dont-list__label" {% add_extra_parameters "label" %}>
    {{ label|default:"Do" }}
  </h{{ heading_level }} >
  <ul class="nhsuk-list nhsuk-list--tick" {% add_extra_parameters "do" %}>
    {% for body in do %}
    <li>
      <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
        <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
      </svg>
      {{ body }}
    </li>
    {% endfor %}
  </ul>
</div>
