<footer class="nhsuk-footer" role="contentinfo">
  <div class="nhsuk-width-container">
{% if enable_column_footer %}
    {#- Column-based footer - map to navigation structure -#}
    <div class="nhsuk-footer__navigation nhsuk-grid-row">
      {% for column_number, links in column_links.items %}
        {% if links %}
          <div class="nhsuk-grid-column-one-quarter">
            <ul class="nhsuk-footer__list">
              {% for link in links %}
                {% if link %}
                <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="{{ link.url }}">
                    {{ link.label }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endif %}
    <div class="nhsuk-footer__meta">
{% if not enable_column_footer and primary_links %}
      {#- Standard footer - links go in meta section -#}
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        {% for link in primary_links %}
          {% if link %}
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="{{ link.url }}">
              {{ link.label }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
{% endif %}
      <p class="nhsuk-body-s">© NHS England</p>
    </div>
  </div>
</footer>
