{% load wagtailimages_tags %}

{% image content_image width-320 as one_image %}
{% image content_image width-510 as two_image %}
{% image content_image width-640 as three_image %}
{% image content_image width-767 as four_image %}
{% image content_image width-1019 as five_image %}
{% image content_image width-1125 as six_image %}
{% image content_image width-1534 as seven_image %}

<figure class="nhsuk-image">
  <img
    class="nhsuk-image__img"
    src="{{ one_image.url }}"
    sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    "
    srcset="

      {{ one_image.url }} 320w,

      {{ two_image.url }} 510w,

      {{ three_image.url }} 640w,

      {{ four_image.url }} 767w,

      {{ five_image.url }} 1019w,

      {{ six_image.url }} 1125w,

      {{ seven_image.url }} 1534w,
    "
    alt="{{ alt_text }}"
  />
  {% if caption %}
  <figcaption class="nhsuk-image__caption">
    {{ caption }}
  </figcaption>
  {% endif %}
</figure>
