<ul class="nhsuk-grid-row nhsuk-card-group">
  {% for panel in panels %}
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content {% if panel.left_panel.label %} nhsuk-card__content--feature{% endif %}">
          {% if panel.left_panel.label %}
            <h{{ panel.left_panel.heading_level }} class="nhsuk-card__heading--feature">{{ panel.left_panel.label }}</h{{ panel.left_panel.heading_level }}>
          {% endif %}
          {{ panel.left_panel.body }}
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content {% if panel.right_panel.label %} nhsuk-card__content--feature{% endif %}">
          {% if panel.right_panel.label %}
            <h{{ panel.right_panel.heading_level }} class="nhsuk-card__heading--feature">{{ panel.right_panel.label }}</h{{ panel.right_panel.heading_level }}>
          {% endif %}
          {{ panel.right_panel.body }}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

