{% load nhsukfrontendforms_tags %}

{{ form.non_field_errors }}

{% for field in form %}
  <div class="nhsuk-form-group{% if field.errors %} nhsuk-form-group--error{% endif %}">
    {% if field.fieldset %}
      <fieldset class="nhsuk-fieldset" aria-describedby="nationality-hint">
        <legend class="nhsuk-fieldset__legend">
          {{ field.fieldset|safe }}
        </legend>
    {% endif %}
        {% if not field.fieldset and field.label %}
          <label class="nhsuk-label" for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
        {% endif %}
        
        {% if field.help_text %}
          <span class="nhsuk-hint">
            {{ field.help_text|safe }}
          </span>
        {% endif %}

        {% for error in field.errors %}
          <span class="nhsuk-error-message">
            {{ error }}
          </span>
        {% endfor %}

        {% if field.errors %}
          <div class="wagtail-nhsuk-form-error">
            {{ field }}
          </div>
        {% else %}
          {{ field }}
        {% endif %}
    {% if field.fieldset %}
      </fieldset>
    {% endif %}
  </div>
{% endfor %}
