  <nav class="nhsuk-header__navigation{% if organisation_white %} nhsuk-header__navigation--white{% endif %}" aria-label="Menu">
    <div class="nhsuk-header__navigation-container nhsuk-width-container">
      <ul class="nhsuk-header__navigation-list">
      {% for item in primary_links %}
        {% if item %}
        <li class="nhsuk-header__navigation-item{% if item.active or item.current %} nhsuk-header__navigation-item--current{% endif %}">
          <a class="nhsuk-header__navigation-link" href="{{ item.url }}"{% if item.active or item.current %} aria-current="{% if item.current %}page{% else %}true{% endif %}"{% endif %}>
            {% if item.active or item.current %}
              <strong class="nhsuk-header__navigation-item-current-fallback">
                {{ item.label }}
              </strong>
            {% else %}
              {{ item.label }}
            {% endif %}
          </a>
        </li>
        {% endif %}
      {% endfor %}
        <li class="nhsuk-header__menu" hidden>
          <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
            <span class="nhsuk-u-visually-hidden">{{ toggle_menu_visually_hidden_text|default:"Browse" }} </span>{{ toggle_menu_text|default:"More" }}
          </button>
        </li>
      </ul>
    </div>
  </nav>
