      <form class="nhsuk-header__search-form" id="search" action="{{ search_action|default:"https://www.nhs.uk/search/" }}" method="get">
        <label class="nhsuk-u-visually-hidden" for="search-field">{{ search_visually_hidden_label|default:"Search the NHS website" }}</label>
        <input class="nhsuk-header__search-input nhsuk-input" id="search-field" name="{{ search_field_name|default:"q" }}" type="search" placeholder="{{ search_placeholder|default:"Search" }}" autocomplete="off">
        <button class="nhsuk-header__search-submit" type="submit">
          <svg class="nhsuk-icon nhsuk-icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" role="img" aria-label="{{ search_visually_hidden_button|default:"Search" }}">
            <title>{{ search_visually_hidden_button|default:"Search" }}</title>
            <path d="m20.7 19.3-4.1-4.1a7 7 0 1 0-1.4 1.4l4 4.1a1 1 0 0 0 1.5 0c.4-.4.4-1 0-1.4ZM6 11a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" />
          </svg>
        </button>
      </form>
